@CHARSET "UTF-8";
@viewport{ 
	width: device-width;
	zoom: 1;
}
html{
	width:100%;
}

body{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	background:green;
	font-size:1em
}

@media all and (min-width: 48em){
	body{
	background:blue;
	}
}

@media all and (min-width: 60em){
	body{
	background:red;
	}	
}
